@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-body{
    &__section-wrapper{
        padding: 2rem $padding-mobile;
        @include tablet{
            padding: 2rem $padding-tablet;
        }
        @include desktop{
           @include max-width;
        }
        &--flex{
            padding-bottom: 4rem;
            @include tablet{
                display: flex;
                justify-content: center;
            }
        }
    }
   
}

.slideshow{
    display: none;
    @include tablet{
    display: block;
    height: 60rem;
    position: absolute;
    z-index: -1;
    width: 100%;
    }
    &__container{
        @include tablet{
        height: 60rem;
        display: flex;
        justify-content: center;
        // background-color: black;
        }
        // @include desktop{
        //     height: 40rem;
        // }
    }
    
    &__image{
        width: 100%;
        transition: 0.3s opacity ease-in-out;
        animation: fadeIn 2s;
        @include tablet{
            height: 60rem;
        }

        @keyframes fadeIn {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }


}


.header-section{
// background:linear-gradient( rgb(0,80,4), green);
background-color: green;
border-radius: 80% 0% / 5% 0%;
@include tablet{
    background-color: rgb(0,0,0,0.5);
    height: 60rem;
    border-radius: 0%;
}

// @include tablet{
//     border-radius: 80% 0% / 10% 0%;
// }
    // &__container{
    //     @include tablet{
    //         display: flex;
    //     }
    // }

    &__heading-container{
        padding-top: 2rem;
        @include tablet{
        padding-top: 3rem;
        }
    }
    &__heading,
    &__tag-line{
        color: white;
    }

    &__heading{
        font-size: 2.8rem;
        line-height: 4.2rem;
        font-weight: 700;
        text-align: center;
        @include desktop{
            font-size: 4rem;
            line-height: 6rem;
            // text-align: left;
            // width: 75%;
        }
    }

    &__arrow{
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        color: white;
        @include tablet{
            font-size: 5rem;
        }
    }

    &__tag-line{
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 2rem 0;
    }

    &__waiting-list-button{
        @include primary-btn;
        width: 100%;
        padding: 1.5rem;
        cursor: pointer;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        @include tablet{
            width: 50%;
        }
    }

    &__waiting-list-button:hover{
        background-color: $hover-main;
    }

    &__image-container{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        @include tablet{
            height: 30rem;
            // justify-content: flex-start;
            padding-top:3rem;
        }
    }

    &__image{
        height: auto;
        width: 100%;
        border-radius: 20px;
        @include tablet{
            width: auto;
        }
    }

}

.problem-statement{
    background: url("../../assets/images/wind-turbine-hill.jpg");
    background-size: cover;
    background-position: center;
    // border-radius: 40% 0% / 87% 5%; 
    border-radius: 40% 0%/15% 5%;
    
    @include tablet{
        padding: 3rem 0;
        background-position: initial;
    }
    @include desktop{
        padding: 5rem 0;
    }
    &__banner-text{
        padding: 2rem;
        margin: 3rem 0;
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
        color: white;
        font-weight: 500;
        border: 1px solid white;
        border-radius: 4px;
        background-color: green;
    }
}

.benefits{
    background-color: #fdfbfb;
    &__header{
        text-decoration: underline;
        text-underline-position: under;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        padding: 2rem 0;
    }
}

.solution{
    border-radius: 80% 80% / 10% 10%;
    // background: linear-gradient(rgb(0,80,4), green);
    background-color: green;
    &__header{
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        text-decoration: underline;
        text-underline-position: under;
        color: white;
    }

    &__card-container{
        @include large-mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tablet{
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }


    &__card{
        margin: 4rem 0;
        background: #fff;
        text-align: center;
        padding: 3rem;
        border-radius: 10px;
        // text-align: center;
        @include large-mobile{
            max-width: 40rem;
        }
        @include tablet{
            max-width: 30rem;
        }

        // &--edited{
        //     margin-bottom: 2rem;
        // }
    }

    &__card-title{
        font-size: 1.8rem;
    }

    &__card-description{
        font-size: 1.5rem;
        color: darkgreen;
    }

    &__button-container{
        padding-top: 1rem;
    }

    &__button{
        border: none;
        background-color: green;
        border-radius: 4px;
        padding: 0.75rem 1rem;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
    }

    &__button:hover{
        opacity: 0.75;
    }
}

// .benefits {
//     &__header {
//         font-size: 2rem;
//         line-height: 3.2rem;
//         color: $primary-main;
//         padding-bottom: 2rem;
//         text-align: center;
//     }

//     &__card-container{
//         padding-bottom: 2rem;
//         @include tablet{
//             display: flex;
//             flex-wrap: wrap;
//         }
//     }

//     &__card {
//         display: flex;
//         flex-direction: column;
//         margin-bottom: 2rem;
//         border: 2px dotted $secondary-main;
//         border-radius: 4px;
//         padding: 1.5rem;
//         @include tablet{
//             width: 50%;
//             border: none;
//         }
       
//     }

//     &__card:hover {
//         border: 2px solid $primary-main;
//     }

//     &__card-title{
//         font-size: 1.6rem;
//         color: $primary-main;
//         @include tablet{
//             text-align: center;
//         }
//     }

//     &__card-icon{
//         height: 5rem;
//         width: 5rem;
//         align-self: center;
//         margin-bottom: 1rem;
//         @include tablet{
//             margin-bottom: 2rem;
//         }
//         &--modified{
//             height: 4rem;
//             width: 4rem;
//             @include tablet{
//                 margin-top: 1rem;
//             }
//         }
//     }

//     &__card-description{
//        font-size: 1.2rem;
//        padding-top: 0.5rem;
//        @include tablet{
//         text-align: center;
//        }
//     }

//     &__icon-attribution{
//         font-size: 1.2rem;
//         @include tablet{
//             text-align: right;
//         }
//     }


// }

.join-waiting-list{
    background-color: #fdfbfb;
    text-align:center;
    // border-top: 1px solid $primary-main;

    &__claimer-container{
        background-color: #f3f3f1;
    }

    &__claimer{
        padding: 3rem 1rem;
        font-size: 1.8rem;
        margin-bottom: 0;
        border-top: 1px solid $primary-main;
        text-align: center;

        &--bold{
            font-weight: 700;
        }

        &--modified{
            border-bottom: 1px solid $primary-main;
        }
    }

    &__waiting-list-button{
        @include primary-btn;
        width: 100%;
        padding: 1.5rem;
        cursor: pointer;
        margin: 2rem 0;
        font-size: 1.3rem;
        @include tablet{
            width: 25%;
        }
    }

    &__waiting-list-button:hover{
        background-color: $hover-main;
    }

}

.trusted-provider{
    padding: 3rem 0;
    background-color: #abffab;
    

    &__container{
        @include tablet{
            display: flex;
        }
    }
    &__home-image-container{
        display: flex;
        justify-content: center;
        height: 30rem;
        padding-top: 1rem;
        @include tablet{
            height: 40rem;
            flex-basis: 50%;
            align-items: center;
            padding-top: 4rem;
            justify-content: flex-end

        }
    }

    &__home-image{
        clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 20%);
        @include tablet{
            height: 100%;
            margin-bottom: 3rem
        }
    }

    &__text-container{
        @include tablet{
        flex-basis: 50%;
        padding: 1rem;
        }
    }

    &__headline{
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
        
        &--highlighted{
            color: $primary-main;
        }
    }

    &__details{
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: 2rem;

        &--underlined{
           text-decoration: underline;
           color: $primary-main;
        }
    }
}

.email-us{
    h2{
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    h3{
        font-size: 1.8rem;
        padding-top: 2rem;
    }

    h3:hover{
        text-decoration: none;
    }

    &__link-container{
        @include tablet{
            padding-left: 3rem;
        }
    }

    &__link{
        color: green;
    }

    &__link:hover{
        text-decoration: none;
    }

    &__button{
        // width: 20rem;
        width: 10rem;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        margin-top: 2rem;
        padding: 1rem 0;
        background-color: white;
        border-radius: 4px;
        border: 2px solid black;
        color: black;
    }

    &__button:hover{
        background-color: black;
        border: 2px solid white;
        color: white;
        
    }
}




.disable-scroll{
    overflow: hidden;
}

