@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-body{
    &__wrapper{
        padding: 0rem 1.6rem;
        @include tablet{
            padding: 0rem 3.2rem;
        }
        @include desktop{
            max-width: 1020px;
            margin: auto;
        }
    }
}

.header-section{
    @include tablet{
        display: flex;
    }

    &__heading-container{
        @include tablet{
        flex-basis: 50%;
        padding-top: 8rem;
        }
    }
    &__heading,
    &__tag-line{
        color: $link-text;
    }

    &__heading{
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: 700;
    }

    &__tag-line{
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 2rem 0;
    }

    &__waiting-list-button{
        width: 100%;
        border-radius: 20px;
        background-color: $button-background;
        color: $button-text;
        border: none;
        padding: 1.5rem;
        cursor: pointer;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        @include tablet{
            width: 50%;
        }
    }

    &__waiting-list-button:hover{
        background-color: $base-main;
    }

    &__image-container{
        height: 30rem;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        @include tablet{
            height: 40rem;
            flex-basis: 50%;
            padding-top:3rem;
        }
    }

    &__image{
        height: 100%;
        clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 20%);
    }

}

.benefits {
    padding-top: 2rem;
    &__header {
        font-size: 2rem;
        line-height: 3.2rem;
        color: $base-main;
        padding-bottom: 2rem;
        text-align: center;
    }

    &__card-container{
        padding-bottom: 2rem;
        @include tablet{
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border: 2px dotted black;
        border-radius: 4px;
        padding: 1.5rem;
        @include tablet{
            width: 50%;
            border: none;
        }
       
    }

    &__card:hover {
        border: 2px solid $text-main;
    }

    &__card-title{
        font-size: 1.6rem;
        color: $base-main;
        @include tablet{
            text-align: center;
        }
    }

    &__card-icon{
        height: 5rem;
        width: 5rem;
        align-self: center;
        margin-bottom: 1rem;
        @include tablet{
            margin-bottom: 2rem;
        }
        &--modified{
            height: 4rem;
            width: 4rem;
            @include tablet{
                margin-top: 1rem;
            }
        }
    }

    &__card-description{
       font-size: 1.2rem;
       padding-top: 0.5rem;
       @include tablet{
        text-align: center;
       }
    }


}

.join-waiting-list{
    text-align:center;
    border-top: 1px solid darkgreen;

    &__claimer-container{
        background-color: #f3f3f1;
    }

    &__claimer{
        padding: 3rem 1rem;
        border-bottom: 1px solid darkgreen;
        font-size: 1.8rem;
        font-family: "Futura";

        &--bold{
            font-weight: 700;
        }
    }

    &__waiting-list-button{
        width: 100%;
        border-radius: 20px;
        background-color: $button-background;
        color: $button-text;
        border: none;
        padding: 1.5rem;
        cursor: pointer;
        margin: 2rem 0;
        font-size: 1.3rem;
        @include tablet{
            width: 25%;
        }
    }

    &__waiting-list-button:hover{
        background-color: $base-main;
    }

}

.trusted-provider{
    @include tablet{
        display: flex;
    }
    &__home-image-container{
        padding-top: 1rem;
        @include tablet{
            flex-basis: 50%;
            display: flex;
            align-items: center;
        }
    }

    &__home-image{
        width: 100%;
        filter: grayscale(100%);
        border-radius: 20px;
        @include tablet{
            margin-bottom: 3rem
        }
    }

    &__home-image:hover{
        filter:grayscale(0%);
    }

    &__text-container{
        @include tablet{
        flex-basis: 50%;
        padding: 1rem;
        }
    }

    &__headline{
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
        
        &--highlighted{
            color: $base-main;
        }
    }

    &__details{
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: 2rem;

        &--underlined{
           text-decoration: underline;
           color: darkgreen;
        }
    }
}

.disable-scroll{
    overflow: hidden;
}

.header{
    border-bottom: none;
}