@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.solar-panels{
    &__wrapper {
        padding: $padding-mobile;
        @include tablet {
          padding: 2rem $padding-tablet;
        }
        @include desktop {
          @include max-width;
          padding: 2rem 0;
        }
      }


      &__title {
        text-align: center;
        padding: 1rem 0;
        @include tablet {
          padding: 2rem 0;
        }
      }

      &__image-container{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
      }

      &__image {
        width: 100%;
        max-height: 30rem;
        @include large-mobile {
          width: 55%;
        }
        @include tablet {
          max-height: 40rem;
        }
      }

      &__description {
        font-size: 1.4rem;
        line-height: 1.6;
        padding-bottom: 2rem;
        @include tablet {
          font-size: 1.6rem;
          line-height: 1.8;
          margin: 2rem;
          flex-basis: 50%;
        }
      }

      &__subtitle{
        font-size: 1.8rem;
        padding-bottom: 1rem;
        font-weight: 700;
      }
}