@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inverter-content{
    &__wrapper{
        padding: $padding-mobile;
        @include tablet{
            padding: 2rem $padding-tablet;
        }
        @include desktop{
            @include max-width;
            padding: 2rem 0;
        }
    }

    &__container{
        @include tablet{
            display: flex;

        }
    }

    &__title{
        text-align: center;
        padding-top: 1rem;
        @include tablet{
            padding-top: 2rem;
        }
    }

    &__image-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2.5rem 0;
        @include large-mobile{
            justify-content: center;
        }
        @include tablet{
            flex-basis: 50%;
            flex-direction: row;
            padding: 3.5rem 0;


        }
    }

    &__image{
        width: 100%;
        height: auto;
        @include large-mobile{
            height: 30rem;
            width: 55%;
        }
        @include tablet{
            width: 50%;
            height: 30rem;
        }
    }

    &__description{
        font-size: 1.4rem;
        line-height: 1.6;
        border: 3px solid green;
        padding: 1rem;
        @include tablet{
            font-size: 1.6rem;
            line-height: 1.8;
            margin: 2rem; 
            flex-basis: 50%;
        }
    }

    &__section-title{
        padding-top: 1rem;
        @include tablet{
            font-size: 2rem;
            padding-top: 3rem;
        }
    }

    &__numbered-list{
        padding-top: 1rem;
    }

    &__list{
        list-style-type: disc;
        padding: 1rem 1rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &--edited{
            padding: 1rem 1rem;
        }

    }

    &__numbered-item{
        font-size: 1.4rem;
        padding-top: 1rem;
        text-decoration: underline;
        text-underline-offset: 8px;
        @include tablet{
            font-size: 1.6rem;
        }
    }

    &__item{
        font-size: 1.4rem;
        @include tablet{
            font-size: 1.6rem;
            line-height: 1.8;
        }

    }

    &__banner{
        background-color: green;
        @include tablet{
            display: flex;
        }
    }

    &__small-wrapper{
        padding: $padding-mobile;
        @include tablet{
            padding: 0rem $padding-tablet;
            display: flex;
        }
        @include desktop{
            @include max-width;
        }
    }

    &__important-text{
        font-size: 1.4rem;
        line-height: 2;
        color: white;
        font-weight: 400;
        margin-bottom: 0;
        @include tablet{
            font-size: 1.8rem;
            line-height: 2.4;
            padding: 3rem;
        }
        

    }

    &__small-image-container{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }


}