@use "../../styles/partials/mixins" as *;
.admin-login{
    &__mainpage{
        background: url("../../assets/images/star-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem;
        min-height: 100vh;

        @include large-mobile{
            padding: 4rem 2rem;
        }
    }


}