.admin-login{
    &__mainpage{
        height: 100vh;
        background: url("../../assets/images/abstract-energy-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        //REFERENCE:
        //<a href="https://www.freepik.com/free-vector/abstract-futuristic-digital-particles-glowing-background-design_8152374.htm#query=energy%20background&position=20&from_view=search&track=ais">Image by starline</a> on Freepik
        padding: 3rem;

    }

}