@use "./variables" as *;

@mixin small-mobile {
  @media screen and (min-width: 350px) {
    @content;
  }
}

@mixin large-mobile {
    @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }

  @mixin primary-btn {
    border-radius: 20px;
    background-color: $button-background;
    color: $button-text;
    border: none;
  }

  @mixin modal{
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  @mixin background-cover{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  @mixin max-width{
    max-width: 1020px;
    margin: auto;
  }





