// BASE
$base-main: #2A7F41;
$base-dark: #004011;

// PRIMARY

// TEXT
$text-main: #7FBF90;
$text-dark: #4F9464;

// LINKS
$link-text: #2F3749;
$link-hover: #60f0f8;

// BUTTON
$button-background: #323232; 
$button-text: #FFFFFF;




