@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.battery-storage {
  &__wrapper {
    padding: $padding-mobile;
    @include tablet {
      padding: 2rem $padding-tablet;
    }
    @include desktop {
      @include max-width;
      padding: 2rem 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    @include tablet {
      padding: 2rem 0;
      font-size: 3.2rem;
    }
    @include desktop{
      font-size: 3.8rem;
    }
  }

  &__image-container {
    padding: 2.5rem 0;
    @include large-mobile {
      display: flex;
      justify-content: center;
    }
    // @include tablet {
    //   flex-basis: 50%;
    //   padding: 3.5rem 0;
    // }
  }

  &__image {
    width: 100%;
    height: auto;
    @include large-mobile {
      height: 30rem;
      width: 55%;
    }
    @include tablet {
      // width: 100%;
      height: 40rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
    @include tablet {
      font-size: 1.6rem;
      line-height: 1.8;
      margin: 2rem;
      flex-basis: 50%;
    }
    @include desktop{
      padding: 1rem 3rem;
    }
  }

  &__section-title {
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    @include tablet {
      font-size: 2rem;
      padding-top: 3rem;
    }
    @include desktop{
      font-size: 2.2rem;
    }
  }

  &__numbered-list {
    padding-top: 1rem;
  }

  &__list {
    list-style-type: disc;
    padding: 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__numbered-item {
    font-size: 1.4rem;
    padding-top: 1rem;
    text-decoration: underline;
    @include large-mobile{
      text-underline-offset: 8px;
    }
    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__item {
    font-size: 1.4rem;
    @include tablet {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }

  &__banner {
    background-color: green;
    padding: 2rem;
  }

  &__important-text {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
    @include tablet {
      font-size: 1.8rem;
      line-height: 2.4;
    }
    @include desktop {
      @include max-width;
    }
  }
}
