@use "../../styles/partials/mixins" as *;
.admin-dashboard{
    &__main-page{
        background:url("../../assets/images/star-background.jpg");
        @include background-cover;
        
        @include large-mobile{
        padding: 3rem;
        }
        @include tablet{
        padding: 5rem;
        }
    }
}