@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.contact-form{
    &__banner{
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(110deg, #0b498f 50%, #2a6ab3 60%);
        @include tablet{
            height: 30rem;
        }
    }

    &__header{
        font-size: 2.8rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        color: $contrast;
        @include tablet{
            font-size: 4.8rem;
        }
       
    }

    &__wrapper{
        padding: 1.6rem;
        @include tablet{
            display: flex;
            padding: 2rem $padding-tablet;
        }
        @include desktop{
            @include max-width;
            padding: 0;
        }
    }

    &__title-container{
        @include tablet{
            flex-basis: 50%;
            padding: 2rem 0;
        }
        @include desktop{
            padding: 4rem 0;
        }
    }

    &__title{
        font-size: 1.1rem;
        padding: 1rem ;
        @include tablet{
            font-size: 2.4rem;
            
        }
    }

    &__form-container{
        @include tablet{
            flex-basis: 50%;
        }
        @include desktop{
            padding: 4rem 0;
        }
    }

    &__form{
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
    
    }

    &__form-label{
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0.5rem;
    }

    &__form-input{
        margin-bottom: 0.5rem;
    }

    &__form-description{
        resize: none;
    }

    &__submit-button-container{
        display:flex;
        justify-content: center;
    }

    &__submit-button{
        width: 100%;
        border-radius: 20px;
        background-color:  #0b498f;
        color: $contrast;
        border: none;
        padding: 1rem;
        cursor: pointer;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        @include tablet{
            width: 50%;
        }
        &--disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }


}