@use "../../styles/partials/variables" as *;
@use "../../styles/partials//mixins" as *;
.nav-bar {
  background-color: #f3f3f1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px 0px;
  // position: sticky;
  // top: 0rem;
  // z-index: 3;
  position: relative;

  &__wrapper {
    padding: $padding-mobile $padding-mobile 0rem;
    // display: flex;
    // justify-content: space-between;
    @include large-mobile{
        // display: flex;
        padding: 2rem 1.6rem 0rem;
    }
    @include tablet{
        display: flex;
        padding: 2rem $padding-tablet;
    }
    @include desktop{
        @include max-width;
    }
  }

  &__logo-tagline-container {
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
      flex-basis: 100%;
    }
  }

  &__tagline {
    display: none;
    font-size: 1.3rem;
    color: $secondary-main;
    font-weight: 700;
    
    padding-left: 1rem;
    padding-top: 1.5rem;
    text-align: center;
    
    @include tablet {
      display:block;
      letter-spacing: 0.05rem;
      line-height: 1.4rem;
      font-size: 1.6rem;
      width: 30%;
      padding-left: 1rem;
      padding-top: 0.75rem;
    }
    &--green {
      color: green;
    }
  }
  &__logo {
    display: block;
    height: 4rem;
    margin-bottom: 1rem;
    @include tablet{
    padding: 0;
    }
  }

  &__menu-container{
    display: flex;
    @include tablet{
      display: none;
    }
  }

  &__menu{
    display: inline-block;
    border: none;
    background: none;
    padding-bottom: 1rem;

  }

  &__menu div{
    transition: .2s;

  }

  &__menu:hover div:first-child{
    transform: rotate(45deg) translate(2px, 9.25px);
  }

  &__menu:hover div:nth-child(2) {
    opacity: 0;
  }

  &__menu:hover div:nth-child(3){
    transform: rotate(-45deg) translate(2px, -9.25px);
  }

  &__menu div{
    width: 35px;
    height: 3px;
    background-color: green;
    margin: 5px 0;
    transition: 0.4s;
  }

  &__dropdown-list{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: green;
    padding-bottom: 2rem;
    padding-top: 2rem;
    top: 100%;
    
  }

  &__dropdown-link{
    // display: block;
    color: white;
    padding: 1rem 0;
    text-decoration: none;
    &--active{
      color: yellow;
    }
  }

  &__dropdown-link:hover{
    color: yellow;
    text-decoration: underline;
    text-underline-position: under;

  }

  
  &__menu-container :hover &__dropdown-list{
    display: flex;
  }

  &__list {
    // display: flex;
    // padding-top: 1rem;
    // justify-content: space-evenly;
    // display: flex;
    // padding-left: 0;
    // margin-bottom: 0;
    display: none;
    @include tablet{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0;
        padding-left: 0;
        flex-basis: 40%;
        padding-top: 1rem;
        flex-basis: 100%;
        justify-content: flex-end;
    }

    &--mobile{
      @include large-mobile{
        display: none;
      }
    }

    &--large-mobile{
      display: none;
      // @include large-mobile{
      //   display: flex;
      // }
    }
  }

  &__item-container{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
  }

  &__icon{
    font-size: 2.5rem;
    align-self: center;
  }

  &__item {
    color: $link-text;
    font-size: 1.2rem;
    // padding-bottom: 1rem;
    @include large-mobile{
        font-size: 1.4rem;
        margin-right: 3rem;
    }
  }

  &__item:hover {
    border-bottom: 1px solid $primary-main;
  }

  &__link {
    text-decoration: none;
    color: $link-text;
    font-size: 1.4rem;
    @include large-mobile{
      margin-right: 3rem;
    }

  }

  &__link-active{
    color: $primary-main;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    @include large-mobile{
      margin-right: 3rem;
    }

  }

  &__link:hover{
    color: $primary-main;
    border-bottom: 1px solid $primary-main;
  }

  &__email-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #2F3749;
    @include tablet{
      font-size: 1.4rem;
    }

    &--large-mobile{
      @include large-mobile{
      color: blue;
      }
    }
  }

  &__email-link:hover{
    border-bottom: 1px solid blue;
    color: blue;
  }
}
