@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer-section{
    background-color: $secondary-background;
    &__wrapper{
        padding: 2rem;

        @include tablet{
            padding: $padding-tablet;
        }

        @include desktop{
           @include max-width;
        }
    }

    &__list{
        padding-bottom: 0.5rem;
        padding-left: 0;

        @include tablet{
            display: flex;
            flex-direction: row;
        }
    }

    &__link{
        text-decoration:none;
        color: $contrast;

        &--underlined{
            text-decoration: underline;
            text-underline-position: under;
            
        }
       
    }

    &__email-link{
        color: white;
        text-decoration: none;
    }

    &__email-link:hover{
        color: blue;
    }

    &__item{
        color: $contrast;
        margin: 1rem 0;
        font-size: 1.3rem;
        padding-bottom: 1rem;
        @include tablet{
            padding-right: 3rem;
            padding-bottom: 0;
        }
    }

    &__copyright-container{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        border-top: 1px solid;
        border-image: $border-image; 

    }

    &__copyright{
        color: $contrast;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}