@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer-section{
    background-color: $secondary-background;
    &__wrapper{
        padding: 2rem;

        @include tablet{
            padding: $padding-tablet;
        }

        @include desktop{
           @include max-width;
        }
    }

    &__container{
        @include large-mobile{
        display:flex;
        }
        @include tablet{
            justify-content: space-between;
        }
    }

    &__top-container{
        display: flex;
        flex-direction: column;
    }

    &__page-list{
        padding-bottom: 0.5rem;
        padding-left: 0;
        flex-basis: 50%;

        @include tablet{
            display: flex;
            flex-direction: row;
        }
    }

    &__logo{
        width: 100%;
        @include small-mobile{
            width: 35rem;
        }
    }

    &__link{
        text-decoration:none;
        color: $contrast;

        &--underlined{
            text-decoration: underline;
            text-underline-position: under;
            
        }
       
    }

    &__email-link{
        color: white;
        text-decoration: none;
    }

    &__email-link:hover{
        color: blue;
    }

    &__item{
        color: $contrast;
        margin: 1rem 0;
        font-size: 1.3rem;
        padding-bottom: 1rem;
        @include tablet{
            padding-right: 3rem;
            padding-bottom: 0;
        }
    }

    &__contact-list{
        padding-left: 0;
        padding-top: 1rem;
        @include large-mobile{
            padding-top: 0;
        }
        @include tablet{
            padding-bottom: 2rem;
        }
    }

    &__copyright-container{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        border-top: 1px solid;
        border-image: $border-image; 
        margin-top: 2rem;

    }

    &__copyright{
        color: $contrast;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}