@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.admin-database{
    background-color: lightgray;
    max-width: 550px;
    margin: auto;
    padding: 3rem 1.5rem;
    @include large-mobile{
        padding: 2rem 3rem;
        border-radius: 10px;
    }

    &__header-container{
        display: flex;
    }
    
    &__logo-container{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        @include large-mobile{
            justify-content: flex-start;
        }
    }

    &__logout-container{
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;
    }

    &__logout-text{
        font-size: 1.1rem;
        padding-top: 0.75rem;
        @include tablet{
            font-size: 1.3rem;
            padding-top: 0.6rem;
        }
    }

    &__title-container{
        @include large-mobile{
            display: flex;
        }
    }


    &__title{
        font-size: 2.2rem;
        padding: 1.5rem;
        font-weight: 600;
        margin-bottom: 0;
        @include large-mobile{
            padding: 2rem 4rem;
            width: 50%;
        }
    }

    &__search-container{
        position: relative;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        @include large-mobile{
            padding-top: 2rem;
            
        }
    }

    &__search{
        height: 3.6rem;
        border: 1px solid #BDC5D5;
        border-radius: 20px;
        padding: 1rem;
        font-size: 1.1rem;
        width: 100%;
    }

    &__search::placeholder{
        font-size: 1.1rem;
        color: #5C667E;
    }

    &__search-icon{
        position: absolute;
        top: 0.75rem;
        right: 2rem;
        width: 2.2rem;
        height: 2.2rem;
        @include large-mobile{
            top: 2.75rem;
        }
    }

    &__users-container{
        background-color: $primary-background;
        border-radius: 4px;
        @include large-mobile{
            border-radius: 10px;
        }

    }

    &__user-content-container {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        @include large-mobile{
            padding-left: 4rem;
        }
        @include tablet{
            padding-bottom: 1rem;
        }
        &--left{
            display: flex;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-top: 1px solid  #BDC5D5;
            @include large-mobile{
                padding-left: 4rem;
            }
            @include tablet{
                padding-top: 2rem;
            }
        }

        &--right{
            padding: 0rem 1rem;
        }
    }

    &__user-content {
        display: flex;
        line-height: 2.4rem ;
        font-size: 1.1rem;
        @include tablet{
            font-size: 1.2rem;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        width: 50%;
        &--right{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-top: 0.075rem
        }
    }
   

    &__categories{
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 700;
        @include tablet{
            font-size: 1.3rem
        }
    }

    &__no-user-container{
        display: flex;
        padding-left: 1.5rem;
        @include large-mobile{
            padding-left: 3.75rem;
        }
    }

    &__no-user-message{
       font-size: 1.2rem;
       padding-left: 0.5rem;
       @include large-mobile{
        padding-top: 0.1rem;
       }
    }

    &__no-user-error-icon{
        height: 1.8rem;
        width: 1.8rem;
    }
}